@import url("https://fonts.googleapis.com/css?family=Fira+Mono&display=swap");
@import url("https://fonts.googleapis.com/css?family=Fira+Sans&display=swap");

html, body, #root, .full {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    background-color: #fceaec;
}

p {
    font-family: "Fira Sans";
    margin: 8px;
    line-height: 1.35;
    color: #a74046;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.left {
    text-align: left;
}

[aria-hidden=true] {
    display: none;
}